<!DOCTYPE html>
<html kmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TP01 PV-TORRICO</title>
</head>
<body>
		<h1>MENU PRINCIPAL</h1>
		<ul>
		
		<li><a href="resolverPunto1?num=5">Punto 1</a></li>
		<li><a href="resolverPunto2?yy=2020">Punto 2</a></li>
		<li><a href="resolverPunto3?num1=5&num2=8&num3=12&num4=58&num5=20">Punto 3</a></li>
		<li><a href="resolverPunto4?num=12">Punto 4</a></li>
		<li><a href="resolverPunto6?num=6">Punto 6</a></li>
		<li><a href="resolverPunto8?">Punto 8</a></li>
		<li><a href="resolverPunto9?">Punto 9</a></li>
		<li><a href="resolverPunto10?">Punto 10</a></li>
		<li><a href="resolverPunto10?">Punto 11</a></li>
		<li><a href="resolverPunto12?altura=10">Punto 12</a></li>
		</ul>
		
</body>
</html>	