<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Punto 3</title>
</head>
<body>

	<h1>Resultados</h1>
	<h2>El primer numero es: <span th:text ="${Punto3}"></span></h2>
	<h2>El segundo numero es: <span th:text ="${Punto3dos}"></span></h2>
	<h2>El tercero numero es: <span th:text ="${Punto3tres}"></span></h2>
	<h2>El cuarto numero es: <span th:text ="${Punto3cuatro}"></span></h2>
	<h2>El quinto numero es: <span th:text ="${Punto3cinco}"></span></h2>
	<a href="menu"> "Volver al menu"</a>
</body>
</html>
